Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/metadata/97/9784cd61c15c646b0ad4eaf494cd94f5
Mosaic-csharp.sln
Mosaic.sln
Temp/*
